# module repositories
polymerist/*

# large data directories
polymer_*/*
polymers_*/*

# testing files
amine_symmetry.ipynb

# testing dirs
sdf_testing/*
energy_tables/*

# stray files
**/__pycache__/*
.model.pt

log.lammps
out.lmp
tmp.in