# module repositories
polysaccharide/*

# large data directories
monomer_files/*
pdb_files/*
Collections/*

LAMMPS/*
OpenMM/*
OpenMM_unconstrained/*

# testing dirs
sdf_testing/*

# stray files
.model.pt
tqdm_test.py