# module repositories
polymerist/*

# large data directories
monomer_files/*
pdb_files/*
polymer_structures/*
polymer_structures_timed/*
polymer_validation/*
polymer_update/*
polymer_filtered/*

OpenMM/*
Topologies/**/5x5x5/**/*
Interchanges/*

# testing files
amine_symmetry.ipynb
log.lammps
cubane.mol

# testing dirs
sdf_testing/*
energy_tables/*
gif_frames/*

# stray files
**/__pycache__/*
.model.pt
tqdm_test.py